# --------------------------------
#  File: .gitignore
#  Description: File that prevents files or large dependencies from clouding up our git repo
#  Programmer(s): Kieran Delaney
#  Created on: 9/21/2023
#  Revised on: 9/27/2023
#  Revision: Added ignoring of .vite files
#  Revised on: 10/05/2023
#  Revision: Added ignoring of client_secret.json file which will prevent us from accidentally uploading the spotify dev app clientSecret which is confidential
#  Revised on: 10/06/2023
#  Revision: Edited name from client_secret.json to client.json to match the file name change
#  Preconditions: None
#  Postconditions: Git ignores the files / directories listed
#  Error conditions: None
#  Side effects: No known side effects
#  Invariants: None
#  Faults: None
# --------------------------------

# git ignores log files from being pushed to git repo
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# git ignores dist and local files
dist
dist-ssr
*.local

# git ignores editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# git ignores node and vite dependencies
node_modules
node_modules/*
.vite
.vite/*

#git ignore the client.json file to make sure spotify client ID and secret aren't uploaded to github but can be used locally when testing 
client.json
FrontEndReact_Dev/client.json
FrontEndReact_Dev/client.json
FrontEndReact_Dev/package-lock.json
package-lock.json
