#error{
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4px;
    margin: 32px;
    width: 256px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    color: #000;
    opacity: 0;
    transform: translateX(300px);
    transition: all 200ms ease-in-out;
    user-select: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#error.show{
    opacity: 1;
    transform: translateX(0px);
}

#error h2{
    display: block;
    margin: 0;
    padding: 0;
}

#error p{
    display: block;
    margin: 0;
    padding: 0;
}

#code-box {
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4px;
    margin: 32px;
    width: 256px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    color: #000;
    opacity: 0;
    transform: translateX(300px);
    transition: all 200ms ease-in-out;
    user-select: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#code-box.show {
    opacity: 1;
    transform: translateX(0px);
}

#code-box h2 {
    display: block;
    margin: 0;
    padding: 0;
}

#code-box p {
    display: block;
    margin: 0;
    padding: 0;
}

#code-box h3 {
    display: block;
    margin: 0;
    padding: 0;
}

#host-join {
    background-color: rgb(255 139 139);
    width: fit-content;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    left: 43%;
    top: 25%;
}

#host-button{
    position: absolute;
    background-color: rgb(254, 255, 255);
    border-radius: 5px;
    border-style: none;
    width: 40%;
    height: 50%;
    left: 5%;
    top: 5%;
}

#host-button:hover{
    background-color: rgb(155, 155, 155);
}

#join-button{
    position: absolute;
        background-color: rgb(254, 255, 255);;
        border-radius: 5px;
        border-style: none;
        width: 40%;
        height: 50%;
        left: 55%;
        top: 5%;
}

#join-button:hover{
    background-color: rgb(155, 155, 155);;
}

.code-entry:hover {
    color: black;
    background-color: rgb(155, 155, 155);
}

.code-entry{
        position: relative;
            background-color: rgb(254, 255, 255);
            text-align: center;
            border-radius: 5px;
            border-style: solid;
            border-color: rgb(155, 155, 155);
            top: 60%;
    
}

body {
    background-color: #9393ff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    margin: 0, auto;

}