/**
 * Prolouge
 * File: style.css
 * Description: Style file for html elements
 * Programmer's Name: Paul Stuever
 * Date Created: 10/05/2023 - Nicholas Nguye - reenabled user-select, shortened card appearance time
 * Date Revised: 9/24/2023 - Paul Stuever - Updated CSS styling for basic front-end
 *  Revision: 9/21/2023 - Paul Stuever - Continuing server work, added more front end style
 *  Revision: 9/20/2023 - Paul Stuever - File created 
 * Preconditions: 
 *  @inputs : Requires HTML elements
 * Postconditions:
 *  @returns : Displays CSS styling
 * Error conditions: None
 * Side effects: None
 * Invariants: None
 * Known Faults: Will need updating to reflect official UI design
 * **/
 
 /*Style the error box shown in the lower right corner*/
#error{
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4px;
    margin: 32px;
    width: 256px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    color: #000;
    opacity: 0;
    transform: translateX(300px);
    transition: all 200ms ease-in-out;
    user-select: default;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/*When show attribute is given to error, show the error */
#error.show{
    opacity: 1;
    transform: translateX(0px);
}

/*Style h2 in error block*/
#error h2{
    display: block;
    margin: 0;
    padding: 0;
}

/*Style p in error block*/
#error p{
    display: block;
    margin: 0;
    padding: 0;
}

 /*Style the code box shown in the lower right corner*/
#code-box {
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4px;
    margin: 32px;
    width: 256px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    color: #000;
    opacity: 0;
    transform: translateX(300px);
    transition: all 200ms ease-in-out;
    user-select: default;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/*Show the code box when given attribute*/
#code-box.show {
    opacity: 1;
    transform: translateX(0px);
}

/*Style code box h2*/
#code-box h2 {
    display: block;
    margin: 0;
    padding: 0;
}

/*Style code box p*/
#code-box p {
    display: block;
    margin: 0;
    padding: 0;
}

/*Style code box h3*/
#code-box h3 {
    display: block;
    margin: 0;
    padding: 0;
}

/*Style host-join div container*/
#host-join {
    background-color: rgb(255 139 139);
    width: fit-content;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    left: 43%;
    top: 25%;
}

/*Style host button*/
#host-button{
    position: absolute;
    background-color: rgb(254, 255, 255);
    border-radius: 5px;
    border-style: none;
    width: 40%;
    height: 50%;
    left: 5%;
    top: 5%;
}

/*Style host button on hover*/
#host-button:hover{
    background-color: rgb(155, 155, 155);
}

/*Style join buttn*/
#join-button{
    position: absolute;
        background-color: rgb(254, 255, 255);;
        border-radius: 5px;
        border-style: none;
        width: 40%;
        height: 50%;
        left: 55%;
        top: 5%;
}

/*Style join button hover*/
#join-button:hover{
    background-color: rgb(155, 155, 155);;
}

/*Style code text entry hover*/
#room-code:hover {
    color: black;
    background-color: rgb(155, 155, 155);
}

/*Style code entry box hover*/
#room-code{
        position: relative;
            background-color: rgb(254, 255, 255);
            text-align: center;
            border-radius: 5px;
            border-style: solid;
            border-color: rgb(155, 155, 155);
            top: 60%;
    
}

/*Style guest-list-guests entry box*/
#guest-list-guests{
    opacity: 0;
}

/*show guest-list-guests*/
#guest-list-guests.show{
    opacity: 1;
}

/*Give body background*/
body {
    background-color: #9393ff;
    font-family: Arial, Helvetica, sans-serif;
}

/*Give h1 white color*/
h1 {
    color: white;
    margin: 0, auto;

}