/*
 File: App.css
 Description: Styling of react app
 Programmer(s): Kieran Delaney, Nicholas Nguyen
 Created on: 9/21/2023
 Revised on: 11/19/2023
 Revision: Kieran added search and queue divs for styling those sections of the webpage
 Revised on: 10/22/2023
 Revision: Nicholas changed the font-family for the entirety of thewebpage
 Revised on: 11/19/2023
 Revision: Nicholas added Blocked Songs functionality and reordered the blocked songs elements to be beneeath the queue elements
 Preconditions: None
 Revision on: 02/10/24
 Revision: Nicholas Added CSS for new component elements and added media queries for mobile ui
            further added styling to more closely follow UI mockups, 
 Revision on: 02/25/24
 Revision: Kieran added CSS code for styling skip button when it's locked to make it apparent to end-user that their skip vote went through 
            (the skip button fades in opacity, doesn't have click cursor or movement on hover)
 Postconditions: Sets styling specifications for rendering webpage content
 Error conditions: None
 Side effects: No known side effects
 Invariants: None
 Faults: None
*/

/*Adobe Fonts import specifically for SognSync*/
@import url("https://use.typekit.net/wwk0mzk.css"); /* proxima nova, roboto, roboto mono */

html {
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
  color: white;
  background: black;
  overflow-y: auto; 
}

button {
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
}

input {
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: top;
  min-height: 100vh;
  margin: 0;
  overflow-y: auto; /* Allows vertical scrolling */

  background: linear-gradient(to bottom right, #12a46c, #0d4d68);
}

/***************** CSS FOR THE MAIN CLIENT/HOST SCREEN *****************/

#root { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none;
  border-color: Red;
  margin: 0;
  height: 100vh;
  z-index: 5;
}

#searchDiv { 
  max-width: 100%;
  max-height: 100%; 
}

#searchResults {
  width: 304px;
  height: 282px;
  margin: 0;
  padding: 5px;
  z-index: 2;
  position: absolute;
  list-style: none;
  background-color: white;
  text-align: left;
  overflow: auto;
  border-radius: 7px;
  transform: translateY( 50px );
}

#searchItem {
  padding: 8px;
  font-size: 14px;
  color: black;
}

#searchBox {
  width: 300px;
  border: none;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 12px;
  font-size: 14px;
  border-radius: 7px;
  outline: none;
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;

}

#searchBox:hover {
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,1);
}

#nowPlayingDiv {
  max-width: 100%;
  max-height: 100%;
}

#albumArt {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  z-index: 2;

  filter: drop-shadow(0 5px 0.3rem rgba( 0, 0, 0, 0.7 ));
}

#panel-1 {
  max-width: 500px;
}

#panel-2 {
  width: 300px;
}

#queueDiv { 
  max-width: 100%;
  max-height: 100%;
}

#queueGridCol {
  text-align: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

#qname {
  font-size: 24px;
  margin: 0;
}

#qartists {
  margin: 0;
}

#playback_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#playback_info p {
  margin-top: 10px;
  margin: 7px;
}

#track_info {
  width: 300px;
}

#title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

#artists {
  text-align: left;
  margin: 0;
}

#replay {
  height: 24px;
  margin: 0;
  cursor: pointer;
  position: relative;
  left: 0px;
  transition: transform ease 0.3s;
}

#replay:hover{
  transform: rotate( -90deg ) scale( 1.2 );
}

#skip {
  height: 24px;
  margin: 0;
  cursor: pointer;
  position: relative;
  left: 0px;
  transition: translate ease 0.3s;
  transition: transform ease 0.3s;
}

#skip:hover{
  transform: scale( 1.2 ) translateX( 5px ); 
}

.buttonlock {
  opacity:0.4;
  filter:alpha(opacity=40);
  cursor:default !important;
}
.buttonlock:hover{
  left:0px !important;
}

#dequeue {
  height: 50px;
  width: 100%;
  border-radius: 7px;
  border: none;
  background-color: #1189BD;
  color: white;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 550;
  font-size: 16px;
}

#dequeue:hover {
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,1);
}

.queueButton {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  margin: 10px;
  background-color: #1189BD;
  color: white;
  font-weight: 550;
  font-size: 16px;
  transition: color 0.3s linear, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.queueButton:hover {
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,1);
}

.third {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* min-width: 200px; */
  justify-content: space-between;
  padding-bottom: 0;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.third > div {
  flex-grow: 1; /* Make the div take up the available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  text-align: center; /* If you want to center the content horizontally */
}

h1 {
  position: absolute;
  padding-top: 100px;
}

#ipod-shuffle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s linear, box-shadow 0.3s ease-in-out;

}

#breadcrumb {
  width: 170px;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  transform: translateY( -13px );
  z-index: 1;
  border-style: none;
  background-color: grey;
  text-decoration: none;
  color: white;
  filter: drop-shadow(0 5px 0.3rem rgba( 0, 0, 0, 0.3 ));
}

#breadcrumb > b {
  position: relative;
  top: 7px;
  left: 0px;
  font-size: 32px;
  padding-top: -7px;
  margin: 0;
  transition: left ease-in-out 0.1s;
}

#breadcrumb:hover > b {
  left: 3px;
}

#login {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  position: absolute;
  margin: 50px;
  top: 0;
  right: 0;
  font-weight: bold;
  transition: color 0.3s linear, box-shadow 0.3s ease-in-out;

}

#logout {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  position: absolute;
  margin: 50px;
  top: 0;
  right: 0;
  font-weight: bold;
  transition: color 0.3s linear, box-shadow 0.3s ease-in-out;
}

#login:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,1);
}

#logout:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,1);

}

#close {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  position: absolute;
  margin: 50px;
  top: 70px;
  right: 0;
  font-weight: bold;
  transition: color 0.3s linear, box-shadow 0.3s ease-in-out;
}

#close:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 1);

}

#playlistDiv
{
  width: 100%;
  padding: none;
  margin: none;
}

#selectPlaylist
{
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  padding: none;
  margin-top: 10px;
  background: none;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: solid;
  border-radius: 7px;
  color: white;
  text-align: center;
  border-color: rgba( 255, 255, 255, 0.5 );
  transition: box-shadow 0.3s ease-in-out;
}

#selectPlaylist:focus
{
  outline: none;
}

#selectPlaylist:hover
{
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 1);
}

#selectionPlaylist > option
{
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  color: green;
}

/***************** MEDIA QUERIES *****************/

@media ( max-width: 768px ) { /* media query for when the screen is smaller than 768px */
  #root {
    display: block;
  }

  h1 { 
    position: relative;
    padding-top: 0;
  }

  .third > div {
    height: 100vh;
  }
  
  #searchBox {
    width: 80vw;
  }

  #searchResults {
    width: 81vw;
  }
}

@media ( max-height: 1080px ) {
  h1 {
    position: relative;
  }
}

/***************** CSS FOR THE SPLASHSCREEN *****************/

#main-container {
  display: flex;
  /* flexboxing */
  align-items: center;
  /* horizontally centered */
  justify-content: center;
  /* vertically centered */
  /* background-color: #17DE92; */
  /* main SongSync UI Color */
}

#input-container {
  display: flex;
  /* flexboxing */
  align-items: center;
  /* horizontally centered */
  margin: 2px;
  /* set 2px margin on all sides so input
     boxes aren't touching each other */
}

#host-button-container {
  display: flex;

  position: absolute;

  top: 75%;
}

#host-button {
  border: none;
  font-size: 18px;
  transition: color 0.2s linear, filter 0.2s ease-in-out;
}

#host-button:hover {
  cursor: pointer;
  color: white;
  filter: drop-shadow(0 0 0.3rem rgba( 255, 255, 255, 0.4 ));
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

#queueButtonStack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sync-button {
  position: relative;
  background: none;
  border: none;
  font-size: 60px;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.blackBackground {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.tealBackground {
  background-color: rgba(0, 0, 0, 0.4);
  color: #a4d3c0;
}

.blackText {
  color: #FFFFFF;
  filter: drop-shadow(0 0 0.3rem rgba( 255, 255, 255, 0.4 ));
}

.tealText {
  background: none;
  color: #a4d3c0;
}

.code-input-container {
  position: absolute;
}

.code-input {
  width: 50px;
  height: 65px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7.5px;
  border-style: none;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  caret-color: transparent;
  transition: color 0.2s linear;
}

.code-input:hover {
  color: white;
}

.code-input::placeholder {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  color: #a4d3c0;
}

.code-input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.name-input {
  position: relative;
  z-index: 0;
  width: 500px;
  height: 65px;
  margin: 2px;
  font-size: 36px;
  float: left;
  text-align: left;
  border-style: none;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  caret-color: transparent;
  background: none;
  border-bottom: solid;
  border-width: 3px;
  border-color: white;
  color: white;
}

.name-input:focus {
  outline: none;
}

.name-input::placeholder{
  color: rgba( 255, 255, 255, 0.7 );
  caret-color: rgba( 255, 255, 255, 0.3 );
}

#hidden-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hand {
  padding-top: 10px;
  font-size: 64px;
  color: white;
  transition: filter 0.2s ease-in-out;
}

#hand:hover{
  filter: drop-shadow(0 0 0.3rem rgba( 255, 255, 255, 0.4 ));
}

#drawerButton {
  aspect-ratio: 1 / 1;
  width: 75px;
  border: none;
  cursor:pointer;
}

#drawerButton:hover {
  background-color: grey;
  opacity: 50%;
}

#drawerDiv {
  height: 100%;
  width: 75px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#drawerIcon {
  height: 30px;
}

#kickGuestIcon {
  height: 20px;
  padding: 5px;
  
}

#kickGuestIcon:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);;
}

#notifClose{
  height: 20px;
  padding: 5px;

}