/*
 File: App.css
 Description: Styling of react app
 Programmer(s): Kieran Delaney, Nicholas Nguyen
 Created on: 9/21/2023
 Revised on: 11/19/2023
 Revision: Kieran added search and queue divs for styling those sections of the webpage
 Revised on: 10/22/2023
 Revision: Nicholas changed the font-family for the entirety of thewebpage
 Revision on: 11/19/2023
 Revision: Nicholas added Blocked Songs functionality and reordered the blocked songs elements to be beneeath the queue elements
 Preconditions: None
 Postconditions: Sets styling specifications for rendering webpage content
 Error conditions: None
 Side effects: No known side effects
 Invariants: None
 Faults: None
*/

/*Adobe Fonts import specifically for SognSync*/
@import url("https://use.typekit.net/wwk0mzk.css"); /* proxima nova, roboto, roboto mono */

html {
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
}

button {
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
}

input {
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: top;
  min-height: 100vh;
  margin: 0;
}

/***************** CSS FOR THE MAIN CLIENT/HOST SCREEN *****************/

#root { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none;
  border-color: Red;
  margin: 0;
  height: 100vh;
}

@media ( max-width: 768px ) { /* media query for when the screen is smaller than 768px */
  #root {
    flex-direction: column; /* flex direction is set to column */
  }
}

#searchDiv { 
  max-width: 100%;
  max-height: 100%; 
  margin: 40px;
}

#nowPlayingDiv {
  max-width: 100%;
  margin: 40px;
  max-height: 100%;
}

#panel-2 {
  width: 340px;
}

#queueDiv { 
  max-width: 100%;
  max-height: 100%;
  margin: 40px;
}

.read-the-docs { 
  color: #888; /* sets specific color for these words */
}

/***************** CSS FOR THE SPLASHSCREEN *****************/

#main-container {
  display: flex;
  /* flexboxing */
  align-items: center;
  /* horizontally centered */
  justify-content: center;
  /* vertically centered */
  background-color: #17DE92;
  /* main SongSync UI Color */
}

#input-container {
  display: flex;
  /* flexboxing */
  align-items: center;
  /* horizontally centered */
  margin: 2px;
  /* set 2px margin on all sides so input
     boxes aren't touching each other */
}

#host-button-container {
  display: flex;

  position: absolute;

  top: 75%;
}

#queueButtonStack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sync-button {
  position: relative;
  background: none;
  border: none;
  font-size: 60px;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.blackBackground {
  background-color: black;
  color: #17DE92;
}

.tealBackground {
  background-color: #12B476;
  color: #FFFFFF;
}

.blackText {
  color: #000000;
}

.tealText {
  background: none;
  color: #12B476;
}

.code-input-container {
  position: absolute;
}

.code-input {
  width: 50px;
  height: 65px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7.5px;
  border-style: none;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  caret-color: transparent;
}

.code-input::placeholder {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  color: #17DE92;
}

.code-input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.name-input {
    position: relative;
    z-index: 0;
    width: 200px;
    height: 65px;
    margin: 2px;
    font-size: 50px;
    float: left;
    text-align: center;
    border-radius: 7.5px;
    border-style: none;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    caret-color: transparent;
}

.name-input::placeholder {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    color: #17DE92;
}

.queueButton {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin: 10px;
}

.queueButton:hover {
  background-color: white;
  color: black;
  border: none;
}

.third {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 0;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.third > div {
  flex-grow: 1; /* Make the div take up the available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  text-align: center; /* If you want to center the content horizontally */
}

h1 {
  padding-top: 200px;
}

#login {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  position: absolute;
  margin: 50px;
  top: 0;
  right: 0;
}

#logout {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  position: absolute;
  margin: 50px;
  top: 0;
  right: 0;
}

#login:hover {
  background-color: black;
  color: white;
}

#logout:hover {
  background-color: white;
  color: black;
}
