/*
 File: App.css
 Description: Styling of react app
 Programmer(s): Kieran Delaney, Nicholas Nguyen
 Created on: 9/21/2023
 Revised on: 9/27/2023
 Revision: Kieran added search and queue divs for styling those sections of the webpage
 Revised on: 10/22/2023
 Revosopm: Nicholas changed the font-family for the entirety of thewebpage
 Preconditions: None
 Postconditions: Sets styling specifications for rendering webpage content
 Error conditions: None
 Side effects: No known side effects
 Invariants: None
 Faults: None
*/

/*Adobe Fonts import specifically for SognSync*/
@import url("https://use.typekit.net/wwk0mzk.css"); /* proxima nova, roboto, roboto mono */

#root { /* styling for root id in index.html, effectively setting the default for the whole webpage */
  max-width: 1280px; /* the max width of the webpage is set to 1280 px */
  margin: 0 auto; /* margin is set to 0 for the top and bottom, and the left and right margins are set automatically */
  padding: 2rem; /* padding is set to 2 units relative to the root's default font size of 16px, so 32px */
  text-align: center; /* text is centered */
  font-family: proxima-nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font style for root, proxima-nova is the main becuase it follows hte branding */
}

.logo { /* logo class */
  height: 6em; /* height of logo is set to 6 units relative to the font size of the parent element */
  padding: 1.5em; /* padding is 1.5 units relative to the font size of the parent element */
  will-change: filter; /* indicating that we expect this styling to change during runtime */
  transition: filter 300ms; /* filter transition take 300 miliseconds to complete */
}
.logo:hover { /* when hovering on a logo element */
  filter: drop-shadow(0 0 2em #646cffaa); /* apply a colored shadow */
}

.searchDiv { /* search div class */
  position: absolute; /* positioning is absolute to make it stick to the side */
  left:0; /* on left side of page */
  margin-left:5vw; /* 5% of the viewport width separates the search div from the left edge of the screen */
  width: '500px'; /* width of the div is 500px */
  height: '100px'; /* height of the div is 100px */
}

.qDiv { /* queue div class */
  position: absolute; /* positioning is absolute to make it stick to its side */
  right:0; /* sticks to right side*/
  margin-right:5vw; /* 5% of the viewport width separates the search div from the right edge of the screen  */
  width: '400px'; /* 400px wide */
  height: '100px'; /* 100 px tall */
}

.read-the-docs { /* class for showing what tools we're using in its own style */
  color: #888; /* sets specific color for these words */
}

/**
 * Prolouge
 * File: app.js
 * Description: styles splashscreen components
 *              
 * Programmer's Name: Nicholas Nguyen
 * Date Created: 11/1/2023
 * 
 * Date Revised: 11/1/2023 - Nicholas Nguyen
 *  Revision: Created styling for splashscreen react components
 * Date Revised: 11/2/2023 - Nicholas Nguyen
 *  Revision: updated placeholder text stylings, input focus stylings
 *            removed Chinh's changes to the logo and its styling
 *            to allow room for other functionality (mainly backend)
 *
 * Preconditions: 
 *  @inputs : None
 * Postconditions:
 *  @returns : 
 * Error conditions: None
 * Side effects: None
 * Invariants: None
 * Known Faults: 
 * **/

/* import for proxima nova, DO NOT use outside of this project. */
@import url("https://use.typekit.net/wwk0mzk.css");

html {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

#hidden-name {
  position: absolute;
  /* position the logo */
  align-items: left;

  display: "none";
  /* horizontally centered */
  justify-content: left;
  /* vertically centered */
  z-index: -1;
  /* set z-index to -1 so it's behind the main container */
}

img {
  -webkit-filter: invert(1);
  /* invert the image */
  filter: invert(1);
  /* invert the image */
  pointer-events: none;
  /* disable mouse events on the image */
}

#main-container {
  display: flex;
  /* flexboxing */
  align-items: center;
  /* horizontally centered */
  justify-content: center;
  /* vertically centered */
  background-color: #17DE92;
  /* main SongSync UI Color */
  height: 100vh;
}

#input-container {
  display: flex;
  /* flexboxing */
  align-items: center;
  /* horizontally centered */
  margin: 2px;
  /* set 2px margin on all sides so input
                    boxes aren't touching each other */
}

#host-button-container {
  display: flex;

  position: absolute;

  top: 75%;
}

.sync-button {
  position: relative;
  background: none;
  border: none;
  font-size: 60px;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.blackBackground {
  background-color: black;
  color: #17DE92;
}

.tealBackground {
  background-color: #12B476;
  color: #FFFFFF;
}

.blackText {
  color: #000000;
}

.tealText {
  background: none;
  color: #12B476;
}

.code-input-container {
  position: absolute;
}

.code-input {
  width: 50px;
  height: 65px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7.5px;
  border-style: none;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  caret-color: transparent;
}

.code-input::placeholder {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  color: #17DE92;
}

.code-input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.name-input {
    position: relative;
    z-index: 0;
    width: 200px;
    height: 65px;
    margin: 2px;
    font-size: 50px;
    float: left;
    text-align: center;
    border-radius: 7.5px;
    border-style: none;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    caret-color: transparent;
}

.name-input::placeholder {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    color: #17DE92;
}
